.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    min-height: 70vh;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
}

.girdListCharacters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
    gap: 15px;
}

.clearFilters {
    background-color:#11555F;
    color: #fff;
    border-radius: 60px;
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

@media only screen and (max-width: 370px) {
    .girdListCharacters {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }
}

@media only screen and (max-width: 950px) {
    .cardBody {
        max-width: none !important;
    }

    .cardDescription .cardInformation {
        flex-direction: column;
    }
}

.showFavorites {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
        font-size: 17px;
        color: gray;
    }

    &:hover {
        i {
            color: gold;
        }
    }
}

.circleCard {
    position: relative;
    margin-left: 75%;
    margin-top: 100px;
}

.cardFavorite {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 77px;
    border: 3px solid white;
}

.activeFav {
    color: gold !important;
}

.cardBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    color: #495057;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    height: 140px;
    max-width: 440px;

    .imageCard {
        width: 40%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        // background-image: url(../../../assets/img/headerBG2.png);
        height: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .infoCard {
        width: 60%;
        padding: 10px;
        cursor: pointer;

        p, span, h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: rgb(248, 248, 248);
        }
    }
}

.cardProfileHeader {
    position: relative;
    text-align: center;

    .cardBackground {
        background-image: url(../../../assets/img/cardBG.png);
        background-size: cover;
        height: 240px;
        width: 100%;
    }

    .cardBlackScreen {
        background-color: black;
        opacity: 0.4;
        position: absolute;
        top: 0;
        height: 240px;
        width: 100%;
    }
    
    .cardContainerAvatar {
        position: absolute;
        top: 240px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fff;
        width: 163px;
        height: 163px;
    
        .cardAvatar {
            width: 155px;
            height: 155px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: -1px;
        }
    }
    
    .cardTtile {
        background-color: whitesmoke;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p {
            text-transform: uppercase;
        }
    }
}

.cardDescription {
    padding: 0 20px;

    .cardInformation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
}

.cardEpisodes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cardInformationChild {
    border-radius: 8px;
    min-width: 100px;
    border: 1px solid #BDBDBD;
    text-align: left;
    padding: 6px 10px 10px 10px;
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
        font-size: 13px;
        white-space: nowrap;

        i {
            font-size: 12px;
            background-color: gray;
            border-radius: 50%;
            color: #fff;
        }
    }

    p {
        margin: 0;
        font-weight: 600;
        font-size: 17px;
        color: #081F32;
    }
}


::ng-deep {
    .p-dialog .p-dialog-header {
        border-radius: 50%;
        border-bottom: 0 none;
        background: #ffffff;
        color: transparent;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        position: absolute;
        z-index: 1;
        padding: 0;
        right: 30px;
        top: 10px;
    }

    .p-dialog .p-dialog-content {
        padding: 0;
    }
}
