<header class="containerHeader">
  <div class="bg1"></div>
  <div class="bg2"></div>
  <div class="blackScreen"></div>
  <div class="headerBody">
    <img src="assets/img/tituloBG.png">
    <div class="searcherTarjeta">
      <button (click)="searchCharacters()" [disabled]="searchTerm == ''"><i class="pi pi-search"></i></button>
      <input type="text" placeholder="Buscar personaje..." [(ngModel)]="searchTerm" [disabled]="opcionesSeleccionadas.length == 0"/>
      <button (click)="op.toggle($event)"
        style="border-top-right-radius: 6px;border-bottom-right-radius: 6px;margin-right: 2.5px;"><i
          class="pi pi-sliders-h"></i></button>
      <p-overlayPanel #op>
        <div class="checkbox-container" *ngFor="let filt of filters">
          <input type="checkbox" id="checkbox{{filt}}" class="custom-checkbox" (change)="onCheckboxChange(filt)" [checked]="checkboxState[filt]">
          <label for="checkbox{{filt}}" class="checkbox-label">{{filt}}</label>
        </div>
      </p-overlayPanel>
    </div>

    <div class="filtersSearch" *ngIf="opcionesSeleccionadas.length > 0">
      <b>Filtros aplicados: </b>
      <p class="m-0">{{opcionesSeleccionadas.toString()}}</p>
    </div>
  </div>
</header>

<nav>
  <ul>
    <li (click)="selectCategory('?All')" [ngClass]="{'activeTab': tabValue == '?All'}">
      <span>All</span>
    </li>
    <li (click)="selectCategory('?gender=unknow')" [ngClass]="{'activeTab': tabValue == '?gender=unknow'}">
      <span>Unknow</span>
    </li>
    <li (click)="selectCategory('?gender=female')" [ngClass]="{'activeTab': tabValue == '?gender=female'}">
      <span>Female</span>
    </li>
    <li (click)="selectCategory('?gender=male')" [ngClass]="{'activeTab': tabValue == '?gender=male'}">
      <span>Male</span>
    </li>
    <li (click)="selectCategory('?gender=genderless')"
      [ngClass]="{'activeTab': tabValue == '?gender=genderless'}">
      <span>Genderless</span>
    </li>
  </ul>
</nav>